configuration {
	modi: "drun,window,run";
	lines: 10;
	font: "SFMono Nerd Font Medium 11";
	show-icons: true;
	combi-modi: "drun,window";
	display-window: "Window";
	display-run: "Run";
	display-drun: "Search";
	display-combi: "";
	display-emoji: "Emoji";
	display-calc: "Calculator";
}

@theme "~/.dotfiles/rofi/themes/rounded-nord-dark.rasi"
